---
import '../styles/index.css'
import Santi from '../media/IMG_5804.JPG'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class='home'>

		<header id='homeH'>
			<h1>Home</h1>
		</header>

		<section id='homeC'>
			<p>
				Welcome to Astro!
			</p>

			<img src={Santi} alt="Santi">
		</section>

		<footer id='homeF'>
			<p>Actively Trying To Do Better</p>
		</footer>


	</body>

</html>
